@media (max-width: 760px){
    .header{
        height: 82px;
    }
    .container{
        margin: 0 4%;
        flex-direction: column;
    }
    .header-flex-logo{
        font: Bold 18px YuGothic;
        margin-top: 20px;
    }
    .header-flex-list ul{
        font: Bold 14px YuGothic;
        margin-bottom: 20px;
    }
    .header-flex-list li{
        padding-right:12px;
        padding-left: 0;
    }
    .contents-wrapper{
        padding-top: 40px;
    }
    .article-wrapper{
        width: 100%;
    }
    .about-area{
        width: 100%;
    }
    .about-list img{
        width: 100%;
    }
    .about-list div{
        padding: 20px 0;
        width: 100%;
    }
    .about-list{
        display: flex;
        flex-flow: column nowrap;
    }
    .news-area{
        padding-top: 60px;
    }
    .news-list{
        padding-top: 20px;
    }
    .news h2{
        width: 100%;
        margin-bottom: 20px;
    }
    .news p{
        width: 100%;
    }
    .news {
        display:flex;
        flex-flow: column nowrap;
    }
    .btn p{
        width: 70px;
        padding: 8px 37px;
        font: Bold 14px YuGothic;
    }
    .btn{
        display: flex;
        justify-content: center;
    }
    .side-wrapper{
        width: 100%;
        padding-top: 60px;
    }
    .picture-area{
        padding-bottom: 40px;
    }
    .picture-area img{
        padding-bottom: 20px;
    }
    .category-area h3{
        font: Bold 22px YuGothic;
        padding-bottom: 6px;
        border-bottom: 3px solid #1F91BE;
    }
    .category-area ul{
        padding-top: 20px;
    }
    .category-area li{
        padding-bottom: 13px;
    }
    footer{
        margin-top: 47px;
        height: 40px;
        font: Bold 11px YuGothic;
    }
    
}
