/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
.header{
    height:75px;
    background-color:white;
    color:#fff;
  }
.container{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}
.header-flex-logo{
    display: flex;
    font: Bold 31px YuGothic;
    color: #1F91BE;
    opacity: 1;
    line-height: 75px;
}
.header-flex-list ul{
    display: flex;
    font: Bold 16px/75px YuGothic;
    color: #333333;
    opacity: 1;
}
.header-flex-list li{
    padding-left:34px;
}
.top-wrapper{
    width: 100%;
    height: auto;
}
.top-wrapper img{
    width: 100%;
}
.contents-wrapper{
    padding-top: 100px;
}
.article-wrapper{
    width: 65.5%;
    display: flex;
    flex-flow: column nowrap;
}
.article-wrapper h1{
    justify-content: flex-start;
    font: Bold 32px YuGothic;
    color: #1F91BE;
    opacity: 1;
    border-bottom: 4px solid #1F91BE;
}

.about-area{
    width: 100%;
}
.about-list img{
    width: 100%;
}
.about-list div{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 30px;
    width: 45%;
}
.about-list p{
    font: Medium YuGothic;
    font-size: 16px;
    letter-spacing: 0;
    color: #333333;
}
.about-list{
    display: flex;
    justify-content: space-between;
}
.news-area{
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-flow: column nowrap;
}
.news-list{
    padding-top: 30px;
}
.news h2{
    font: Bold 14px/28px YuGothic;
    width:100px;
}
.news p{
    font: Medium YuGothic;
    font-size: 14px;
    width: 70%;
}
.news {
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(104, 93, 93);
    padding-bottom: 20px;
    margin-bottom: 20px;
    letter-spacing: 0;
    color: #333333;
}
.btn p{
    width: 80px;
    padding: 2px 32px;
    color: #1F91BE;
    border: 2px solid #1F91BE;
    font: Bold 16px YuGothic;
}
.btn{
    display: flex;
    justify-content: flex-end;
}
.side-wrapper{
    width: 27.8%;
    display: flex;
    flex-flow: column nowrap;
}
.picture-area{
    padding-bottom: 10px;
}
.picture-area img{
    padding-bottom: 30px;
    width: 100%;
}
.category-area h3{
    font: Bold 24px/28px YuGothic;
    color: #1F91BE;
    padding-bottom: 9px;
    border-bottom: 4px solid #1F91BE;
}
.category-area ul{
    padding-top: 29.2px;
}
.category-area li{
    padding-bottom: 15px;
    font: Bold 16px/28px YuGothic;
    color: #333333;
}
footer{
    margin-top: 100px;
    height: 50px;
    color:white;
    background-color:#C7C7C7;
    font: Bold 12px/28px YuGothic;
    display: flex;
    justify-content: center;
    align-items: center;
}

